.fa {
  margin-right: 0.25em;
}

img {
  margin: .3rem !important;
}

/* Insert white background rectangle for mermaid divs, so they are visible in dark theme */
body[data-theme="dark"] .mermaid
{
  background-color: #ffffff
}