---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -bugprone-assignment-in-if-condition,
  -bugprone-casting-through-void,
  -bugprone-reserved-identifier,
  -bugprone-macro-parentheses,
  cert-*,
  -cert-con36-c,
  -cert-dcl37-c,
  -cert-con54-cpp,
  -cert-err58-cpp,
  -cert-dcl50-cpp,
  -cert-dcl51-cpp,
  -cert-dcl21-cpp,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-magic-numbers,
  misc-*,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  performance-*,
  -performance-avoid-endl,
  -performance-unnecessary-value-param,
  -performance-no-int-to-ptr,
  portability-*,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-avoid-nested-conditional-operator,
  -readability-convert-member-functions-to-static,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,

WarningsAsErrors: '*'
HeaderFilterRegex: '(include\/ccf\/|src\/(udp|tcp|tls|tasks|snapshots|service|quic|pal|apps|clients|common|consensus)\/).*'
FormatStyle:     'file'