build*/
*_build/
!doc/build_apps/
Debug*/
Release*/
CMakeFiles/
.vscode/
.vs/
libuv/
raft_tests.md
tests/raft_scenarios/scenario-*
*.pyc
__pycache__/
sphinx/build/
tests/Testing/
doxygen/
obj/
*.retry
tests/env/
tests/**/*pb2*.py
sphinx/env/
html/
latex/
env/
*.egg-info
**/dist
node_modules
package-lock.json
.cache
include/ccf/version.h
python/version.py
src/host/config_schema.h
**/compatibility_report.json
.venv_ccf_sandbox/*
workspace/*
ledger_[0-9]*
snapshot_[0-9]*
doc/operations/generated_config.rst
*.parquet
tests/perf-system/analyzer/*.png
**/*.ipynb*
scripts/azure_deployment/.env
tests/external_executor/executors/ccf/protobuf/*.proto
tests/external_executor/executors/attestation_container/protobuf/*.proto
src/apps/external_executor/protobuf/attestation-container.proto
