build*/
_build/
!doc/build_apps/
Debug*/
Release*/
CMakeFiles/
.vscode/*
!.vscode/launch.json
.vs/
libuv/
raft_tests.md
tests/raft_scenarios
*.pyc
__pycache__/
sphinx/build/
tests/Testing/
doxygen/
obj/
*.retry
tests/env/
getting_started/create_vm/generated
sphinx/env/
html/
latex/
env/
*.egg-info
**/dist
node_modules
package-lock.json
.cache
include/ccf/version.h
python/version.py
tests/compatibility_report.json