build*/
_build/
Debug*/
Release*/
CMakeFiles/
.vscode/
libuv/
raft_tests.md
tests/raft_scenarios
*.pyc
sphinx/build/
tests/Testing/
doxygen/
obj/
*.retry
tests/env/
getting_started/create_vm/generated
sphinx/env/
