
*.pdf binary
*.png binary
*.jpg binary

src/crypto/test/cbor_fuzz_corpus/* binary

*.h linguist-language=C++
*.cpp linguist-language=C++

.*canary merge=keeplocal

lean/kv/Kv/Proofs/**/*.lean linguist-generated=true
lean/kv/Kv.lean text eol=lf