build*/
_build/
Debug*/
Release*/
CMakeFiles/
.vscode/*
!.vscode/launch.json
.vs/
libuv/
raft_tests.md
tests/raft_scenarios
*.pyc
__pycache__/
sphinx/build/
tests/Testing/
doxygen/
obj/
*.retry
tests/env/
sphinx/env/
html/
latex/
env/
*.egg-info
**/dist
.mypy_cache
3rdparty/
*.html
SECURITY.md
doc/schemas/
.venv_ccf_sandbox