{
  "enclave": {
    "file": "{{ enclave_file }}",
    "type": "{{ enclave_type }}"
  },
  "network": {
    "node_address": { "hostname": "{{ node_address_hostname }}",  "port": "{{ node_address_port }}" },
    "rpc_interfaces": {{ rpc_interfaces|tojson }}
  },
  "node_certificate":
  {
    "subject_name": "CN=CCF Node",
    "subject_alt_names": {{ subject_alt_names|tojson }},
    "curve_id": "{{ curve_id }}",
    "initial_validity_days": {{ initial_node_cert_validity_days }}
  },
  "start":
  {
    "members": {{ members_info|tojson }},
    "constitution_files": {{ constitution|tojson }},
    "service_configuration":
    {
      "recovery_threshold": {{ recovery_threshold or 0 }},
      "maximum_node_certificate_validity_days": {{ maximum_node_certificate_validity_days }},
      "reconfiguration_type": "{{ reconfiguration_type }}"
    }
  },
  "join":
  {
    "timer_ms": {{ join_timer }},
    "target_rpc_address": { "hostname": "{{ target_rpc_address_hostname }}", "port": "{{ target_rpc_address_port }}" }
  },
  "ledger":
  {
    "directory": "{{ ledger_dir }}",
    "read_only_directories": {{ read_only_ledger_dirs|tojson }},
    "chunk_size": {{ ledger_chunk_bytes }}
  },
  "snapshots":
  {
    "directory": "{{ snapshots_dir }}",
    "interval_size": {{ snapshot_tx_interval }}
  },
  "logging":
  {
    "host_level": "{{ host_log_level }}",
    "format": "text"
  },
  "consensus":
  {
    "type": "{{ consensus }}",
    "timeout_ms": {{ timeout_ms or 100 }},
    "election_timeout_ms": {{ election_timeout_ms }}
  },
  "intervals":
  {
    "signature_interval_size": {{ sig_tx_interval }},
    "signature_interval_duration_ms": {{ sig_ms_interval }}
  },
  "jwt":
  {
    "key_refresh_interval_s": {{ jwt_key_refresh_interval_s }}
  },
  "network_certificate_file": "networkcert.pem",
  "node_certificate_file": "{{ node_certificate_file or "node.pem" }}",
  "node_pid_file": "{{ node_pid_file or "node.pid" }}",
  "node_address_file": "{{ node_address_file }}",
  "rpc_addresses_file" : "{{ rpc_addresses_file }}",
  "node_client_interface": {{ node_client_interface|tojson }},
  "worker_threads": 0,
  "memory":
  {
    "circuit_size_shift": 22,
    "max_msg_size_shift": 24,
    "max_fragment_size_shift": 16
  }
}