wheel
paramiko
loguru
psutil
openapi-spec-validator == 0.7.1
PyJWT
docutils
python-iptables
py-spy
GitPython
docker
better_exceptions
pyasn1
Jinja2
httpx[http2] == 0.23.*
locust
grpcio-tools == 1.44.0 # Pin to a working version for SNP platform
JWCrypto>=1.5.1 # x25519 support
pycose
rich
gelidum
matplotlib
# Piccolo dependencies
fastparquet==2023.*
prettytable==3.*
polars
plotext
boofuzz
