wheel
loguru
psutil
openapi-spec-validator
PyJWT
docutils
python-iptables
py-spy
GitPython
better_exceptions
pyasn1
Jinja2
httpx[http2] == 0.23.*
locust
pyOpenSSL
JWCrypto>=1.5.1 # x25519 support
rich
gelidum
matplotlib
# Piccolo dependencies
fastparquet==2023.*
prettytable==3.*
polars
plotext
boofuzz
numpy<2
cwt>=3.1
aiohttp