# zap-api-scan rule configuration file
# Active scan rules set to IGNORE will not be run which will speed up the scan
# Only the rule identifiers are used - the names are just for info

# All rules not mentioned below are reported with level WARN

# To be fixed
100001	INFO	(Unexpected Content-Type was returned)

# Not applicable to CCF
10015	IGNORE	(Incomplete or No Cache-control and Pragma HTTP Header Set)
10021	IGNORE	(X-Content-Type-Options Header Missing)
10035	IGNORE	(Strict-Transport-Security Header Not Set)
40012	IGNORE	(Cross Site Scripting (Reflected))
90022	IGNORE	(Application Error Disclosure)
10062	IGNORE	(PII Disclosure)
