breathe
sphinx==3.5.1 # Temporary workaround for duplicate definition error
sphinx_rtd_theme
pygments-style-solarized
bottle
sphinx-autobuild
sphinxcontrib-mermaid
sphinx-multiversion
pydata-sphinx-theme
sphinx-copybutton
sphinxcontrib.openapi
sphinx-panels
