workspace: "/tmp/"
clang_ver: 11

debs:
  - apt-transport-https
  - ninja-build
  - libuv1-dev
  - libc++-{{ clang_ver }}-dev
  - libc++abi-{{ clang_ver }}-dev
  - python3.8-dev
  - python3.8-venv
  - llvm-{{ clang_ver }}
  - clang-{{ clang_ver }}
  - clang-format-11
  - clang-tools-{{ clang_ver }}
  - lld-{{ clang_ver }}
  - build-essential
  - expect
  - git
  - ccache
  - kmod # modinfo for sgxinfo.sh
  - cmake
  - libssl-dev
  - jq # operation scripts
  - sudo
  - curl # client test infra
  - shellcheck # bash lint
  - iptables # partition test infra
  - unzip # required to unzip protoc install
  - rubygems # required to install cddl checker

# Not installed on GitHub Actions environment because of conflicting package
docker_debs:
  - docker-ce-cli

doxygen_ver: "1.9.8"
doxygen_bin: "doxygen-{{ doxygen_ver }}.linux.bin.tar.gz"
doxygen_url: "https://sourceforge.net/projects/doxygen/files/rel-{{ doxygen_ver }}/{{ doxygen_bin }}/download"
