certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptography==3.0
idna==2.10
loguru==0.5.1
msgpack==1.0.0
pycparser==2.20
requests==2.24.0
requests-http-signature==0.1.0
six==1.15.0
urllib3==1.25.10
websocket-client==0.57.0
