steps:
  - script: |
      set -ex
      curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
      az login --service-principal -u $(CCF_SNP_CI_APP_ID) -p $(CCF_SNP_CI_SERVICE_PRINCIPAL_PASSWORD) --tenant $(CCF_SNP_CI_TENANT)
    name: setup_azure_cli
    displayName: "Install Azure CLI, login, and install Python Packages"
    env:
      CCF_SNP_CI_APP_ID: $(CCF_SNP_CI_APP_ID)
      CCF_SNP_CI_SERVICE_PRINCIPAL_PASSWORD: $(CCF_SNP_CI_SERVICE_PRINCIPAL_PASSWORD)
      CCF_SNP_CI_TENANT: $(CCF_SNP_CI_TENANT)
