steps:
  - script: |
      set -ex
      curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
      az extension add --source https://acccliazext.blob.core.windows.net/confcom/confcom-0.2.5-py3-none-any.whl -y
      # Workaround of bug in v0.2.5
      sudo chmod +x /opt/az/azcliextensions/confcom/azext_confcom/bin/dmverity-vhd
      az login --service-principal -u ${{ parameters.app_id }} -p ${{ parameters.service_principal_password }} --tenant ${{ parameters.tenant }}
    name: setup_azure_cli
    displayName: "Install Azure CLI and login"
