parameters:
  cmake_args: ""

steps:
  - script: |
      set -ex
      tests/sgxinfo.sh
      cat /proc/cpuinfo | grep flags | uniq
      sudo groupadd -g 119 sgx_prv
      sudo usermod -a -G sgx_prv $(whoami)
    displayName: Platform Info
    condition: succeededOrFailed()

  - script: |
      set -ex
      mkdir build
      cd build
      cmake -L -GNinja .. ${{ parameters.cmake_args }}
    displayName: CMake
