jobs:
  - job: ${{ parameters.target }}_${{ parameters.suffix }}
    displayName: "${{ parameters.target }} ${{ parameters.suffix }}"
    dependsOn: ${{ parameters.depends_on }}

    ${{ insert }}: ${{ parameters.env }}

    steps:
      - script: |
          sudo rm -rf build
          rm -rf tests/npm-app/package-lock.json
          rm -rf tests/npm-app/node_modules
        displayName: "Cleanup"

      - checkout: self
        clean: true

      - template: cmake.yml
        parameters:
          cmake_args: "${{ parameters.cmake_args }}"

      - template: ninja.yml
        parameters:
          cmake_args: "${{ parameters.cmake_args }}"

      - template: test.yml
        parameters:
          suffix: ${{ parameters.suffix }}
          ctest_filter: ${{ parameters.ctest_filter }}
          suite_name_suffix: "${{ parameters.target }} ${{ parameters.suffix }}"
          ctest_timeout: ${{ parameters.ctest_timeout }}

      - ${{ if eq(parameters.suffix, 'Instrumented') }}:
          - template: scan_build.yml

      - ${{ if eq(parameters.suffix, 'Perf') }}:
          - template: push_perf_data.yml
          - template: metrics.yml

      - ${{ if and(eq(parameters.suffix, 'Release'), eq(parameters.target, 'SGX')) }}:
          - template: publish_tls_report.yml
          - template: publish_compatibility_report.yml
          - template: install.yml
