jobs:
  - job: ${{ parameters.target }}_${{ parameters.suffix }}
    timeoutInMinutes: 0
    displayName: "${{ parameters.target }} ${{ parameters.suffix }}"
    dependsOn: ${{ parameters.depends_on }}

    ${{ insert }}: ${{ parameters.env }}

    steps:
      - script: |
          sudo rm -rf build
        displayName: "Cleanup"

      - checkout: self
        clean: true

      - ${{ if parameters.fetch_v8 }}:
          - template: fetch_v8.yml
            parameters:
              target: ${{ parameters.target }}
              v8_mode: ${{ parameters.fetch_v8 }}

      - template: cmake.yml
        parameters:
          cmake_args: "${{ parameters.cmake_args }}"
          target: "${{ parameters.target }}"

      - template: ninja.yml
        parameters:
          cmake_args: "${{ parameters.cmake_args }}"

      - template: test.yml
        parameters:
          suffix: ${{ parameters.suffix }}
          ctest_filter: ${{ parameters.ctest_filter }}
          suite_name_suffix: "${{ parameters.target }} ${{ parameters.suffix }}"
          ctest_timeout: ${{ parameters.ctest_timeout }}

      - ${{ if eq(parameters.suffix, 'Instrumented') }}:
          - template: scan_build.yml

      - ${{ if eq(parameters.suffix, 'Perf') }}:
          - template: push_perf_data.yml
          - template: metrics.yml

      - ${{ if and(eq(parameters.suffix, 'Release'), eq(parameters.target, 'SGX')) }}:
          - template: cg.yml
          - template: publish_tls_report.yml
          - template: publish_compatibility_report.yml
          - template: install_deb.yml
          - template: install_others.yml
          - template: publish_sbom.yml

      - ${{ if and(eq(parameters.suffix, 'Unsafe'), eq(parameters.target, 'SGX')) }}:
          - template: install_deb.yml
