jobs:
  - job: ${{ parameters.target }}_${{ parameters.suffix }}
    timeoutInMinutes: 120
    displayName: "${{ parameters.target }} ${{ parameters.suffix }}"
    dependsOn: ${{ parameters.depends_on }}
    condition: and(succeeded(), eq(dependencies.configure.outputs['setVarStep.docOnly'], 'false'))

    ${{ insert }}: ${{ parameters.env }}

    steps:
      - script: |
          sudo rm -rf build
        displayName: "Cleanup"

      - checkout: self
        clean: true
        fetchDepth: 0
        fetchTags: true

      - template: platform.yml
        parameters:
          target: "${{ parameters.target }}"

      - ${{ if eq(parameters.installExtendedTestingTools, true) }}:
          - template: install_extended_testing_tools.yml

      - ${{ if not(eq(parameters.suffix, 'ScanBuild')) }}:
          - template: cmake.yml
            parameters:
              cmake_args: "${{ parameters.cmake_args }}"
              cmake_env: "${{ parameters.cmake_env }}"

          - template: ninja.yml
            parameters:
              ninja_targets: "${{ parameters.ninja_targets }}"

          - task: PublishSymbols@2
            env:
              ARTIFACTSERVICES_SYMBOL_ACCOUNTNAME: microsoft
            inputs:
              SymbolsFolder: $(Build.SourcesDirectory)/build
              SearchPattern: "**/symbols/**/*.dbg"
              IndexSources: true
              PublishSymbols: true
              SymbolServerType: "TeamServices"
              SymbolExpirationInDays: "365"
              IndexableFileFormats: "Default"
              DetailedLog: true
              SymbolsArtifactName: "Symbols_$(BuildConfiguration)"

          - ${{ if and(eq(parameters.suffix, 'Release'), eq(parameters.target, 'SNPCC')) }}:
              - template: build_check.yml
                parameters:
                  target: "${{ parameters.target }}"

          - ${{ if not(and(eq(parameters.suffix, 'Release'), eq(parameters.target, 'SNPCC'))) }}:
              - template: test.yml
                parameters:
                  suffix: ${{ parameters.suffix }}
                  ctest_filter: ${{ parameters.ctest_filter }}
                  suite_name_suffix: "${{ parameters.target }} ${{ parameters.suffix }}"
                  ctest_timeout: ${{ parameters.ctest_timeout }}

          - template: misc.yml
            parameters:
              suite_name_suffix: "${{ parameters.target }}_${{ parameters.suffix }}"

      - ${{ if eq(parameters.suffix, 'Tracing') }}:
          - template: trace_validation.yml

      - ${{ if eq(parameters.suffix, 'ScanBuild') }}:
          - template: scan_build.yml

      # Temporarily disabled, until cimetrics supports auth other than connection-string
      # - ${{ if eq(parameters.suffix, 'Perf') }}:
      #     - template: push_perf_data.yml

      - ${{ if eq(parameters.suffix, 'Release') }}:
          - template: install_deb.yml
            parameters:
              target: "${{ parameters.target }}"

      - ${{ if and(eq(parameters.suffix, 'Release'), eq(parameters.target, 'SGX')) }}:
          - template: cg.yml
          - template: publish_tls_report.yml
          - template: publish_compatibility_report.yml
          - template: install_others.yml
          - template: publish_sbom.yml

      - ${{ if and(eq(parameters.suffix, 'Unsafe'), eq(parameters.target, 'SGX')) }}:
          - template: install_deb.yml
