jobs:
  - job: configure
    displayName: "Configure CI"
    variables:
      Codeql.SkipTaskAutoInjection: true
      skipComponentGovernanceDetection: true
    pool:
      vmImage: "ubuntu-20.04"
    steps:
      - checkout: self
        clean: true
      - script: |
          set -ex
          echo "Determine if any code has changed."
          echo "Assuming full build should be run."
          echo "##vso[task.setvariable variable=docOnly;isOutput=true]false"
          if [ ${SYSTEM_PULLREQUEST_TARGETBRANCH} ]; then
            echo " - Running on PR, checking diff for non-doc changes"
            if git diff --ignore-submodules=dirty --quiet "origin/${SYSTEM_PULLREQUEST_TARGETBRANCH}" -- ':!doc' ':!*.md' ':!scripts/azure_deployment'; then
              echo " - Documentation change only"
              echo "##vso[task.setvariable variable=docOnly;isOutput=true]true"
            else
              echo " - Source has changed"
            fi
          fi

        displayName: "Check for runtime changes"
        name: setVarStep
