parameters:
  env:
    NoSGX:
      container: nosgx
      pool: 1es-dv4-focal
    SGX:
      container: sgx
      pool: 1es-dcv2-focal
    SGXIceLake:
      container: sgx
      pool: 1es-dcv3-focal

  build:
    common:
      cmake_args: "-DLONG_TESTS=ON"
    NoSGX:
      cmake_args: "-DCOMPILE_TARGETS=virtual"
    SGX:
      cmake_args: "-DCOMPILE_TARGETS=sgx"
    debug:
      cmake_args: "-DCMAKE_BUILD_TYPE=Debug -DSAN=ON -DLVI_MITIGATIONS=OFF"

jobs:
  - job: "Make"
    displayName: "Make generator"
    ${{ insert }}: "${{ parameters.env.NoSGX }}"
    steps:
      - checkout: self
        clean: true
        fetchDepth: 10000
      - script: |
          set -ex
          mkdir build_make
          cd build_make
          cmake -L .. ${{ parameters.build.NoSGX.cmake_args }}
        displayName: CMake

  - template: common.yml
    parameters:
      target: NoSGX
      env: "${{ parameters.env.NoSGX }}"
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.debug.cmake_args }} ${{ parameters.build.NoSGX.cmake_args }}"
      suffix: "Instrumented"
      artifact_name: "NoSGX_Instrumented"
      ctest_filter: '-LE "benchmark|perf"'
      ctest_timeout: "600"

  - template: common.yml
    parameters:
      target: SGX
      env: "${{ parameters.env.SGX }}"
      cmake_args: "${{ parameters.build.common.cmake_args }} -DTLS_TEST=ON -DSHUFFLE_SUITE=ON"
      suffix: "Release"
      artifact_name: "SGX_Release"
      ctest_filter: '-LE "benchmark|perf|rotation"'

  - template: common.yml
    parameters:
      target: SGXIceLake
      env: "${{ parameters.env.SGXIceLake }}"
      cmake_args: "${{ parameters.build.common.cmake_args }} -DTLS_TEST=ON -DSHUFFLE_SUITE=ON"
      suffix: "Release"
      artifact_name: "SGX_IceLake_Release"
      ctest_filter: '-LE "benchmark|perf|rotation"'
