parameters:
  env:
    Virtual:
      container: virtual
      pool: ado-virtual-ccf-sub
    SGX:
      container: sgx
      pool: ado-sgx-ccf-sub-backup
    SNPCC:
      container: snp
      pool: ado-virtual-ccf-sub
    MC:
      container: virtual
      pool:
        name: ado-model-checking
        demands:
          - WorkFolder -equals /mnt/storage

  build:
    common:
      cmake_args: "-DLONG_TESTS=ON"
      cmake_env: ""
    Virtual:
      cmake_args: "-DCOMPILE_TARGET=virtual"
      cmake_env: "CC=`which clang-15` CXX=`which clang++-15`"
    SGX:
      cmake_args: "-DCOMPILE_TARGET=sgx"
      cmake_env: ""
    SNPCC:
      cmake_args: "-DCOMPILE_TARGET=snp -DLONG_TESTS=OFF"
      cmake_env: "CC=`which clang-15` CXX=`which clang++-15`"
    debug:
      cmake_args: "-DCMAKE_BUILD_TYPE=Debug"
      cmake_env: ""
    ASAN:
      cmake_args: "-DSAN=ON"
      cmake_env: ""
    TSAN:
      cmake_args: "-DTSAN=ON -DWORKER_THREADS=2"
      cmake_env: ""
    unsafe:
      cmake_args: "-DVERBOSE_LOGGING=ON -DUNSAFE_VERSION=ON"
      cmake_env: ""

jobs:
  - job: "Make"
    displayName: "Make generator"
    ${{ insert }}: "${{ parameters.env.Virtual }}"
    dependsOn: configure
    steps:
      - checkout: self
        clean: true
        fetchDepth: 10000
      - script: |
          sudo rm -rf build
        displayName: "Cleanup"
      - script: |
          set -ex
          mkdir build_make
          cd build_make
          cmake -L .. ${{ parameters.build.Virtual.cmake_args }}
        displayName: CMake

  - template: common.yml
    parameters:
      target: Virtual
      env: "${{ parameters.env.Virtual }}"
      fetch_quictls: debug
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.debug.cmake_args }} ${{ parameters.build.ASAN.cmake_args }} ${{ parameters.build.Virtual.cmake_args }}"
      suffix: "ASAN"
      artifact_name: "Virtual_ASAN"
      ctest_filter: '-LE "benchmark"'
      ctest_timeout: "1600"
      depends_on: configure
      installExtendedTestingTools: true

  - template: common.yml
    parameters:
      target: Virtual
      env: "${{ parameters.env.Virtual }}"
      fetch_quictls: debug
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.debug.cmake_args }} ${{ parameters.build.TSAN.cmake_args }} ${{ parameters.build.Virtual.cmake_args }}"
      suffix: "TSAN"
      artifact_name: "Virtual_TSAN"
      ctest_filter: '-LE "benchmark"'
      ctest_timeout: "1600"
      depends_on: configure
      installExtendedTestingTools: true

  - template: common.yml
    parameters:
      target: Virtual
      env: "${{ parameters.env.Virtual}}"
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.debug.cmake_args }} ${{ parameters.build.Virtual.cmake_args }}"
      suffix: "ScanBuild"
      artifact_name: "Virtual_ScanBuild"
      depends_on: configure
      installExtendedTestingTools: true

  - template: common.yml
    parameters:
      target: SGX
      env: "${{ parameters.env.SGX }}"
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.SGX.cmake_args }} -DCLIENT_PROTOCOLS_TEST=ON -DSHUFFLE_SUITE=ON"
      suffix: "Release"
      artifact_name: "SGX_Release"
      ctest_filter: '-LE "benchmark|rotation"'
      depends_on: configure
      installExtendedTestingTools: true

  - template: common.yml
    parameters:
      target: SNPCC
      env: ${{ parameters.env.SNPCC }}
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.SNPCC.cmake_args }} -DCLIENT_PROTOCOLS_TEST=ON -DSHUFFLE_SUITE=ON"
      cmake_env: "${{ parameters.build.SNPCC.cmake_env }}"
      suffix: "Release"
      artifact_name: "SNPCC_Release"
      ctest_filter: '-LE "benchmark|rotation"'
      depends_on: configure
      installExtendedTestingTools: true

  - template: common.yml
    parameters:
      target: Virtual
      env: ${{ parameters.env.Virtual }}
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.Virtual.cmake_args }} -DCLIENT_PROTOCOLS_TEST=ON -DSHUFFLE_SUITE=ON"
      suffix: "Release"
      artifact_name: "Virtual_Release"
      ctest_filter: '-LE "benchmark|rotation"'
      depends_on: configure
      installExtendedTestingTools: true

  - template: common.yml
    parameters:
      target: SGX
      env: "${{ parameters.env.SGX }}"
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.SGX.cmake_args }} ${{ parameters.build.unsafe.cmake_args }}"
      suffix: "Unsafe"
      artifact_name: "SGX_Unsafe"
      ctest_filter: '-LE "benchmark|rotation"'
      depends_on: configure
      installExtendedTestingTools: true
