parameters:
  env:
    Virtual:
      container: virtual
      pool: 1es-dv4-focal
    SGX:
      container: sgx
      pool: 1es-dcdv3-focal
    SNPCC:
      pool: sev-snp-pool

  build:
    common:
      cmake_args: '-DLONG_TESTS=ON -DENABLE_2TX_RECONFIG=ON -DCMAKE_C_COMPILER_LAUNCHER="ccache" -DCMAKE_CXX_COMPILER_LAUNCHER="ccache"'
    Virtual:
      cmake_args: "-DCOMPILE_TARGET=virtual"
    SGX:
      cmake_args: "-DCOMPILE_TARGET=sgx"
    SNPCC:
      cmake_args: "-DCOMPILE_TARGET=snp -DCMAKE_BUILD_TYPE=Debug -DLVI_MITIGATIONS=OFF -DVERBOSE_LOGGING=ON"
    debug:
      cmake_args: "-DCMAKE_BUILD_TYPE=Debug -DSAN=ON -DLVI_MITIGATIONS=OFF"
    unsafe:
      cmake_args: "-DLVI_MITIGATIONS=OFF -DVERBOSE_LOGGING=ON -DENABLE_BFT=OFF -DUNSAFE_VERSION=ON"
    QUICTLS:
      cmake_args: "-DENABLE_QUICTLS=ON"

jobs:
  - job: "Make"
    displayName: "Make generator"
    ${{ insert }}: "${{ parameters.env.Virtual }}"
    dependsOn: configure
    steps:
      - checkout: self
        clean: true
        fetchDepth: 10000
      - script: |
          set -ex
          mkdir build_make
          cd build_make
          cmake -L .. ${{ parameters.build.Virtual.cmake_args }}
        displayName: CMake

  - job: "Release_Containers"
    displayName: "Release Containers"
    ${{ insert }}: "${{ parameters.env.Virtual }}"
    dependsOn: configure
    steps:
      - checkout: self
        clean: true
        fetchDepth: 10000
      - script: |
          ./docker/build_release_containers.yml ccfmsrc.azurecr.io
        displayName: Build release containers

  - template: common.yml
    parameters:
      target: Virtual
      env: "${{ parameters.env.Virtual }}"
      fetch_quictls: debug
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.debug.cmake_args }} ${{ parameters.build.QUICTLS.cmake_args }} ${{ parameters.build.Virtual.cmake_args }}"
      suffix: "Instrumented"
      artifact_name: "Virtual_Instrumented"
      ctest_filter: '-LE "benchmark|perf"'
      ctest_timeout: "800"
      depends_on: configure

  - template: common.yml
    parameters:
      target: SGX
      env: "${{ parameters.env.SGX }}"
      cmake_args: "${{ parameters.build.common.cmake_args }} -DTLS_TEST=ON -DSHUFFLE_SUITE=ON"
      suffix: "Release"
      artifact_name: "SGX_Release"
      ctest_filter: '-LE "benchmark|perf|rotation"'
      depends_on: configure

  - template: common.yml
    parameters:
      target: SGX
      env: "${{ parameters.env.SGX }}"
      cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.unsafe.cmake_args }}"
      suffix: "Unsafe"
      artifact_name: "SGX_Unsafe"
      ctest_filter: '-LE "benchmark|perf|rotation"'
      depends_on: configure

  - template: common.yml
    parameters:
      target: SNPCC
      env: "${{ parameters.env.SNPCC }}"
      cmake_args: "${{ parameters.build.SNPCC.cmake_args }}"
      suffix: "Debug"
      artifact_name: "SNPCC_Debug"
      ctest_filter: '-LE "benchmark|perf|tlstest|vegeta|suite"'
      depends_on: configure
