jobs:
  - job: deploy_aci
    displayName: "Deploy ACI"
    pool:
      vmImage: ubuntu-20.04
    steps:
      - script: |
          env
        name: print_env
        displayName: "Print Environment Variables"

      - script: |
          set -ex
          ssh-keygen -t rsa -b 4096 -f ~/.ssh/id_rsa -N ""
          echo "##vso[task.setvariable variable=hostPrivKey;isOutput=true;issecret=true]`base64 -w 0 ~/.ssh/id_rsa`"
        name: generate_ssh_key
        displayName: "Generate SSH Key"

      - template: azure_cli.yml

      - script: |
          set -ex
          RETRIES=500
          HEAD_SHA=`git rev-parse HEAD`
          if [ $(Build.SourceBranchName) == "merge" ]; then
            # If this is the case, we're running in a PR, and the SHA we really want is in the
            # commit message of the last commit (which merges it into target)
            echo "Running in a PR, getting the SHA from the commit message"
            LAST_COMMIT=(`git log -1 --pretty=%B`)
            HEAD_SHA=${LAST_COMMIT[1]}
          fi
          echo "##vso[task.setvariable variable=gitSha;isOutput=true]$HEAD_SHA"
          until [ $RETRIES -eq 0 ] || [[ `az acr repository show-tags -n ccfmsrc --repository ccf/ci` == *"$HEAD_SHA"* ]]
          do
            sleep 10
            echo "$(( RETRIES-- )) tries remaining"
          done
        name: wait_for_image
        displayName: "Wait for CI Container Building"

      - script: |
          set -ex
          python3.8 scripts/azure_deployment/arm_template.py deploy aci --subscription-id $(CCF_AZURE_SUBSCRIPTION_ID) --resource-group ccf-aci --aci-type dynamic-agent --deployment-name ci-$(Build.BuildNumber) --aci-image ccfmsrc.azurecr.io/ccf/ci:pr-$(wait_for_image.gitSha) --aci-storage-account-key $(CCF_AZURE_STORAGE_KEY) > ~/aci_ips
          echo "##vso[task.setvariable variable=ipAddresses;isOutput=true]`cat ~/aci_ips`"
        name: deploy_aci
        displayName: "Deploy ACI"
        env:
          CCF_AZURE_SUBSCRIPTION_ID: $(CCF_AZURE_SUBSCRIPTION_ID)

      - script: |
          set -ex
          IFS='\n' read -ra IP_ADDR_LIST <<< "$(deploy_aci.ipAddresses)"
          for IP_ADDR in "${IP_ADDR_LIST[@]}"; do
            echo -e "Testing connection with $IP_ADDR"
            for i in {1..3}; do ssh agent@$IP_ADDR -o "StrictHostKeyChecking no" 'echo "Connected successfully"' && break || echo "Connection failed, ACI may still be spinning up, retrying"; done
          done
        name: test_ssh_connection
        displayName: "Test SSH Connection to ACI"

  - job: secondary_ips_path
    displayName: "Export Path to Secondary ACI IPs"
    pool:
      vmImage: ubuntu-20.04
    steps:
      - script: |
          echo "##vso[task.setvariable variable=secondary_ips_path;isOutput=true]~/aci_secondary_ips"
        name: export
        displayName: "Export path to secondary IPs"

  - job: deploy_secondary_acis
    displayName: "Deploy Secondary ACIs"
    pool:
      vmImage: ubuntu-20.04
    dependsOn: secondary_ips_path
    variables:
      secondary_ips_path: $[ dependencies.secondary_ips_path.outputs['export.secondary_ips_path'] ]

    steps:
      - template: azure_cli.yml

      - script: |
          set -ex
          echo "Deploying secondary ACIs"
          python3.8 scripts/azure_deployment/arm_template.py deploy aci --subscription-id $(CCF_AZURE_SUBSCRIPTION_ID) --resource-group ccf-aci --aci-type dynamic-agent --deployment-name ci-$(Build.BuildNumber)-secondaries --aci-image ${{ parameters.secondaries.image }} --count ${{ parameters.secondaries.count }} --aci-storage-account-key $(CCF_AZURE_STORAGE_KEY) > $(secondary_ips_path)
        name: deploy_secondary_acis
        displayName: "Deploy Secondary ACIs"
        env:
          CCF_AZURE_SUBSCRIPTION_ID: $(CCF_AZURE_SUBSCRIPTION_ID)

  - job: cleanup_aci
    displayName: "Cleanup ACI"
    pool:
      vmImage: ubuntu-20.04
    dependsOn: ${{ parameters.used_by }}
    condition: always()
    steps:
      - template: azure_cli.yml

      - script: |
          set -ex
          IFS='\n' read -ra IP_ADDR_LIST <<< "$(deploy_aci.ipAddresses)"
          for IP_ADDR in "${IP_ADDR_LIST[@]}"; do
            rm -rf /ccfci/workspace_$(Build.BuildNumber)
          done

      - script: |
          set -ex
          python3.8 scripts/azure_deployment/arm_template.py remove aci --subscription-id $(CCF_AZURE_SUBSCRIPTION_ID) --resource-group ccf-aci --aci-type dynamic-agent --deployment-name ci-$(Build.BuildNumber)
        name: cleanup_aci
        displayName: "Delete the ACI and Azure Deployment"
