steps:
  - script: |
      set -ex
      cmake -L .. 2>/dev/null | grep CMAKE_INSTALL_PREFIX: | cut -d = -f 2 > /tmp/install_prefix
      cpack -V -G DEB
      INITIAL_PKG=`ls *.deb`
      GITHUB_PKG=${INITIAL_PKG//\~/_}
      if [[ "$INITIAL_PKG" != "$GITHUB_PKG" ]]; then
        mv $INITIAL_PKG $GITHUB_PKG
      fi
      cp $GITHUB_PKG $(Build.ArtifactStagingDirectory)
      echo "##vso[task.setvariable variable=pkgname]$GITHUB_PKG"
    workingDirectory: build
    displayName: "Make .deb package"