parameters:
  target: ""

steps:
  - script: |
      set -ex
      cmake -L .. 2>/dev/null | grep CMAKE_INSTALL_PREFIX: | cut -d = -f 2 > /tmp/install_prefix
      cpack -V -G DEB
      INITIAL_PKG=`ls *.deb`
      GITHUB_PKG=${INITIAL_PKG//\~/_}
      if [[ "$INITIAL_PKG" != "$GITHUB_PKG" ]]; then
        mv $INITIAL_PKG $GITHUB_PKG
      fi
      cp $GITHUB_PKG $(Build.ArtifactStagingDirectory)
      echo "##vso[task.setvariable variable=pkgname]$GITHUB_PKG"
    workingDirectory: build
    displayName: "Make .deb package"

  - script: |
      set -ex
      sudo apt -y install ./$(pkgname)
    workingDirectory: build
    displayName: Install CCF Debian package

  - script: |
      set -ex
      cat /tmp/install_prefix | xargs -i bash -c "PYTHON_PACKAGE_PATH=../python ./test_install.sh {}"
    workingDirectory: build
    displayName: Test installed CCF

  - script: |
      set -ex
      cat /tmp/install_prefix | xargs -i bash -c "PYTHON_PACKAGE_PATH=../python ./recovery_benchmark.sh {}"
    workingDirectory: build
    displayName: Recovery benchmark for installed CCF

  - ${{ if eq(parameters.target, 'SGX') }}:
      - script: |
          set -ex
          unsafe_build=$(grep unsafe /tmp/install_prefix) || true
          if [[ -n "$unsafe_build" ]]; then
            ./tests/test_install_build.sh -DUSE_UNSAFE_VERSION=ON -DCOMPILE_TARGET=sgx
          else
            ./tests/test_install_build.sh -DCOMPILE_TARGET=sgx
          fi
        displayName: Test building a sample against installed CCF (SGX)

  - ${{ if eq(parameters.target, 'Virtual') }}:
      - script: |
          set -ex
          unsafe_build=$(grep unsafe /tmp/install_prefix) || true
          if [[ -n "$unsafe_build" ]]; then
            ./tests/test_install_build.sh -DUSE_UNSAFE_VERSION=ON -DCOMPILE_TARGET=virtual
          else
            ./tests/test_install_build.sh -DCOMPILE_TARGET=virtual
          fi
        displayName: Test building a sample against installed CCF (virtual)

  - ${{ if eq(parameters.target, 'SNPCC') }}:
      - script: |
          set -ex
          unsafe_build=$(grep unsafe /tmp/install_prefix) || true
          if [[ -n "$unsafe_build" ]]; then
          ./tests/test_install_build.sh -DUSE_UNSAFE_VERSION=ON -DCOMPILE_TARGET=snp
          else
            ./tests/test_install_build.sh -DCOMPILE_TARGET=snp
          fi
        displayName: Test building a sample against installed CCF (SNP)

  - task: PublishPipelineArtifact@1
    inputs:
      path: $(Build.ArtifactStagingDirectory)/$(pkgname)
      artifact: $(pkgname)
      displayName: "Publish CCF Debian Package"
