parameters:
  target: ['NoSGX', 'SGX']

  env:
    Hosted:
      container: nosgx
      pool:
        vmImage: ubuntu-18.04
    NoSGX:
      container: nosgx
      pool: Ubuntu-1804-D8s_v3
    SGX:
      container: sgx
      pool: Ubuntu-1804-DC8_v2
    Perf:
      pool: CCF-Perf

  build:
    common:
      cmake_args: '-DCMAKE_C_COMPILER_LAUNCHER="ccache" -DCMAKE_CXX_COMPILER_LAUNCHER="ccache" -DWORKER_THREADS=2'
    NoSGX:
      cmake_args: '-DCOMPILE_TARGETS=virtual'
    SGX:
      cmake_args: '-DCOMPILE_TARGETS=sgx'
    debug:
      cmake_args: '-DCMAKE_BUILD_TYPE=Debug -DBUILD_SMALLBANK=OFF'
    install:
      install_prefix: '/tmp/ccf-install'
      cmake_args: '-DCMAKE_INSTALL_PREFIX=/tmp/ccf-install'
    perf:
      cmake_args: '-DBUILD_UNIT_TESTS=OFF -DDISTRIBUTE_PERF_TESTS="`../.nodes.sh`"'

  test:
    NoSGX:
      ctest_args: '-LE "benchmark|perf|tlstest|long_test"'
    SGX:
      ctest_args: '-LE "benchmark|perf|tlstest|long_test"'
    Release:
      ctest_args: '-LE "tlstest"'
    perf:
      ctest_args: '-L "benchmark|perf"'

jobs:
  - template: checks.yml
    parameters:
      env: ${{ parameters.env.Hosted }}

  # Debug
  - ${{ each target in parameters.target }}:
    - template: common.yml
      parameters:
        target: ${{ target }}
        env: ${{ parameters.env[target] }}
        cmake_args: '${{ parameters.build.common.cmake_args }} ${{ parameters.build.debug.cmake_args }} ${{ parameters.build[target].cmake_args }}'
        suffix: 'Debug'
        artifact_name: '${{ target }}_Debug'
        ctest_filter: '${{ parameters.test[target].ctest_args }}'
        ctest_timeout: '240'

  # Performance
  - template: common.yml
    parameters:
      target: SGX
      env: ${{ parameters.env.Perf }}
      cmake_args: '${{ parameters.build.common.cmake_args }} ${{ parameters.build.perf.cmake_args }} ${{ parameters.build.SGX.cmake_args }}'
      suffix: 'Perf'
      artifact_name: 'SGX_Perf'
      ctest_filter: '${{ parameters.test.perf.ctest_args }}'
      ctest_timeout: '240'

  # Release
  - ${{ if eq(parameters.perf_or_release, 'release') }}:
    - template: common.yml
      parameters:
        target: SGX
        env: ${{ parameters.env.SGX }}
        cmake_args: '${{ parameters.build.common.cmake_args }} ${{ parameters.build.install.cmake_args }}'
        suffix: 'Release'
        artifact_name: 'SGX_Release'
        install_prefix: '${{ parameters.build.install.install_prefix }}'
        ctest_timeout: '240'
        depends_on: 'Release_Checks'

    - template: release.yml
      parameters:
        env: ${{ parameters.env.Hosted }}
        depends_on: 'SGX_Release'

