parameters:
  target: ["NoSGX", "SGX"]

  env:
    Hosted:
      container: nosgx
      pool:
        vmImage: ubuntu-20.04
    NoSGX:
      container: nosgx
      pool: 1es-dv4-focal
    SGX:
      container: sgx
      pool: 1es-DC16s_v3-focal

  build:
    common:
      cmake_args: '-DCMAKE_C_COMPILER_LAUNCHER="ccache" -DCMAKE_CXX_COMPILER_LAUNCHER="ccache"'
    NoSGX:
      cmake_args: "-DCOMPILE_TARGETS=virtual"
    SGX:
      cmake_args: "-DCOMPILE_TARGETS=sgx"
    debug:
      cmake_args: "-DCMAKE_BUILD_TYPE=Debug -DLVI_MITIGATIONS=OFF -DVERBOSE_LOGGING=ON"
    v8:
      cmake_args: "-DENABLE_V8=ON"
    perf:
      cmake_args: '-DBUILD_UNIT_TESTS=OFF -DBUILD_TPCC=ON -DDISTRIBUTE_PERF_TESTS="-n local://localhost -n local://localhost"'
    release:
      cmake_args: "-DTLS_TEST=ON -DLONG_TESTS=ON -DENABLE_BFT=OFF"
    unsafe:
      cmake_args: "-DLVI_MITIGATIONS=OFF -DVERBOSE_LOGGING=ON -DENABLE_BFT=OFF -DUNSAFE_VERSION=ON"

  test:
    NoSGX:
      ctest_args: '-LE "benchmark|perf|tlstest|vegeta|suite"'
    SGX:
      ctest_args: '-LE "benchmark|perf|tlstest|vegeta|suite"'
    perf:
      ctest_args: '-L "benchmark|perf|vegeta"'
    release:
      ctest_args: '-LE "benchmark|perf"'

jobs:
  # Debug
  - ${{ each target in parameters.target }}:
      - template: common.yml
        parameters:
          target: ${{ target }}
          env: ${{ parameters.env[target] }}
          cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.debug.cmake_args }} ${{ parameters.build.v8.cmake_args }} ${{ parameters.build[target].cmake_args }}"
          suffix: "Debug"
          artifact_name: "${{ target }}_Debug"
          ctest_filter: "${{ parameters.test[target].ctest_args }}"
          fetch_v8: release # debug is tested in daily

  # Performance
  - ${{ if eq(parameters.perf_tests, 'run') }}:
      - template: common.yml
        parameters:
          target: SGX
          env: ${{ parameters.env.SGX }}
          cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.perf.cmake_args }} ${{ parameters.build.v8.cmake_args }} ${{ parameters.build.SGX.cmake_args }}"
          suffix: "Perf"
          artifact_name: "SGX_Perf"
          ctest_filter: "${{ parameters.test.perf.ctest_args }}"
          fetch_v8: release

  # Performance (NoSGX)
  # NOTE: CI doesn't support SGX and NoSGX perf tests at the same time.
  # - ${{ if eq(parameters.perf_tests, 'run') }}:
  #     - template: common.yml
  #       parameters:
  #         target: NoSGX
  #         env: ${{ parameters.env.NoSGX }}
  #         fetch_v8: release
  #         cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.perf.cmake_args }} ${{ parameters.build.v8.cmake_args }} ${{ parameters.build.NoSGX.cmake_args }}"
  #         suffix: "Perf"
  #         artifact_name: "NoSGX_Perf"
  #         ctest_filter: "${{ parameters.test.perf.ctest_args }}"

  # Release
  - ${{ if eq(parameters.perf_or_release, 'release') }}:
      - template: checks.yml
        parameters:
          env: ${{ parameters.env.Hosted }}

      - template: common.yml
        parameters:
          target: SGX
          env: ${{ parameters.env.SGX }}
          cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.release.cmake_args }}"
          suffix: "Release"
          artifact_name: "SGX_Release"
          ctest_filter: "${{ parameters.test.release.ctest_args }}"

      # Build that produces unsafe binaries for troubleshooting purposes
      - template: common.yml
        parameters:
          target: SGX
          env: ${{ parameters.env.SGX }}
          cmake_args: "${{ parameters.build.common.cmake_args }} ${{ parameters.build.unsafe.cmake_args }}"
          suffix: "Unsafe"
          artifact_name: "SGX_Unsafe"
          ctest_filter: "${{ parameters.test.release.ctest_args }}"

      - template: release.yml
        parameters:
          env: ${{ parameters.env.Hosted }}
          depends_on:
            - Checks
            - SGX_Release
            - SGX_Unsafe
