jobs:
  - job: Model_Checking
    displayName: "Model Checking"
    variables:
      Codeql.SkipTaskAutoInjection: true
      skipComponentGovernanceDetection: true
    timeoutInMinutes: 360

    ${{ insert }}: ${{ parameters.env }}

    steps:
      - checkout: self
        clean: true
        fetchDepth: 1

      - script: |
          set -ex
          sudo apt update
          sudo apt install -y default-jre
          python3 ./tla/install_deps.py
        displayName: Setup

      - script: ./tlc.sh -workers auto consensus/MCccfraft.tla -dumpTrace tla MCccfraft.trace.tla -dumpTrace json MCccfraft.json
        workingDirectory: tla
        displayName: MCccfraft.cfg

      - script: ./tlc.sh -workers auto -config consensus/MCccfraftAtomicReconfig.cfg consensus/MCccfraft.tla -dumpTrace tla MCccfraftAtomicReconfig.trace.tla -dumpTrace json MCccfraftAtomicReconfig.json -coverage 1 -nowarning
        workingDirectory: tla
        displayName: MCccfraftAtomicReconfig.cfg

      - script: ./tlc.sh -workers auto -config consensus/MCccfraftWithReconfig.cfg consensus/MCccfraft.tla -dumpTrace tla MCccfraftWithReconfig.trace.tla -dumpTrace json MCccfraftWithReconfig.json -coverage 1 -nowarning
        workingDirectory: tla
        displayName: MCccfraftWithReconfig.cfg

      - script: |
          set -ex
          python3 -mvenv env
          source env/bin/activate
          pip install -r requirements.txt
          cat MCccfraftAtomicReconfig_coverage_*.json | python3 actions.py MCccfraftAtomicReconfig.html
          rm MCccfraftAtomicReconfig_coverage_*.json
          cat MCccfraftWithReconfig_coverage_*.json | python3 actions.py MCccfraftWithReconfig.html
          rm MCccfraftWithReconfig_coverage_*.json
        workingDirectory: tla

      - task: PublishPipelineArtifact@1
        inputs:
          artifactName: "Model Checking Traces"
          targetPath: tla
        condition: or(failed(), canceled())
