jobs:
  - template: common.yml
    parameters:
      target: SGX
      env:
        container: sgx
        pool: 1es-DC16s_v3-focal
      cmake_args: "-DCOMPILE_TARGET=sgx"
      suffix: "StressTest"
      artifact_name: "StressTest"
      ctest_filter: '-L "vegeta" -C "long_stress"'
      depends_on: configure