parameters:
  depends_on: ""
  condition: ""

jobs:
  - job: ${{ parameters.job_name }}
    displayName: ${{ parameters.display_name }}
    dependsOn: ${{ parameters.depends_on }}
    condition: ${{ parameters.condition }}
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 120
    variables:
      Codeql.SkipTaskAutoInjection: true
      skipComponentGovernanceDetection: true

    steps:
      - template: azure_cli.yml
        parameters:
          app_id: $(ATTESTATION_CONTAINER_CI_APP_ID)
          service_principal_password: $(ATTESTATION_CONTAINER_CI_SERVICE_PRINCIPAL_PASSWORD)
          tenant: $(ATTESTATION_CONTAINER_CI_TENANT)

      - script: |
          set -ex
          # The following sed is to change 20221213.48 to 2022121348 for example
          echo "##vso[task.setvariable variable=BUILD_NUMBER]$(echo $(Build.BuildNumber) | sed 's/\.//g')"
        name: set_build_number_var
        displayName: "Set BUILD_NUMBER variable"

      # See https://github.com/Azure/azure-cli/issues/13352 for rationale for use of "script return..."
      - script: |
          set -ex
          script --return -c "az container exec --resource-group attestationContainer --name ci-$(BUILD_NUMBER)-business-logic-0 --container-name ci-$(BUILD_NUMBER)-attestation-container --exec-command 'attest.test --testdata-dir /testdata'" /dev/null
          script --return -c "az container exec --resource-group attestationContainer --name ci-$(BUILD_NUMBER)-business-logic-0 --container-name ci-$(BUILD_NUMBER)-attestation-container --exec-command 'uvm.test'" /dev/null
        name: run_unit_test
        displayName: "Unit Test in Attestation Container Instance Deployed to ACIs"

      - script: |
          set -ex
          script --return -c "az container exec --resource-group attestationContainer --name ci-$(BUILD_NUMBER)-business-logic-0 --container-name ci-$(BUILD_NUMBER)-dummy-business-logic-container --exec-command 'attestation-container.test -addr /mnt/uds/sock -test.v'" /dev/null
        name: test_attestation_container
        displayName: "Test attestation container with dummy business logic container Instance Deployed to ACIs"
