parameters:
  depends_on: ""
  condition: ""

jobs:
  - job: ${{ parameters.job_name }}
    displayName: ${{ parameters.display_name }}
    dependsOn: ${{ parameters.depends_on }}
    condition: ${{ parameters.condition }}
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 120
    variables:
      runOn: ${{ parameters.run_on }}
      sshKey: ${{ parameters.ssh_key }}
      secondaryAcisPath: ${{ parameters.secondary_acis_path }}
      Codeql.SkipTaskAutoInjection: true
      skipComponentGovernanceDetection: true

    steps:
      - template: install_ssh_key.yml
        parameters:
          ssh_key: $(sshKey)

      - script: |
          set -ex
          mapfile -t IP_ADDR_LIST <<< $(echo "$(runOn)" | awk '{print $2}')
          ssh agent@${IP_ADDR_LIST[0]} -o "StrictHostKeyChecking no" '
          cd /CCF/build
          npm config set cache /ccfci/workspace_$(Build.BuildNumber)/.npm
          WORKSPACE=/ccfci/workspace_$(Build.BuildNumber) ELECTION_TIMEOUT_MS=10000 PRIMARY_ACI_IP=${IP_ADDR_LIST[0]} SECONDARY_ACIS_PATH=$(secondaryAcisPath) ./tests.sh -VV -T Test -LE "benchmark|perf|tlstest|vegeta|suite" -E "lts_compatibility"
          '
        name: run_ctest
        displayName: "Run CTest"

      - script: |
          set -ex
          mapfile -t IP_ADDR_LIST <<< $(echo "$(runOn)" | awk '{print $2}')
          ssh agent@${IP_ADDR_LIST[0]} -o "StrictHostKeyChecking no" '
          dmesg
          '
        name: run_dmesg
        displayName: "Run DMesg"
        condition: always()
