parameters:
  suite_name_suffix: ''
  ctest_filter: ''
  ctest_timeout: '240'

steps:
- script: |
    ./tests.sh -VV --timeout ${{ parameters.ctest_timeout }} --no-compress-output -T Test ${{ parameters.ctest_filter }}
  env:
    METRICS_MONGO_CONNECTION: $(METRICS_MONGO_CONNECTION)
  displayName: CTest
  workingDirectory: build

# If a test fails, crudely upload nodes' logs for all tests
- task: CopyFiles@2
  inputs:
    contents: '**/?(*out|*err)'
    sourceFolder: $(Build.SourcesDirectory)/build/workspace
    targetFolder: $(Build.ArtifactStagingDirectory)
  condition: or(failed(), canceled())
  displayName: 'Copy logs (only on failure)'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)
    artifactName: 'workspace ${{ parameters.suite_name_suffix }}'
  condition: or(failed(), canceled())
  displayName: 'Upload logs (only on failure)'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: cTest
    testResultsFiles: 'Testing/*/Test.xml'
    testRunTitle: "${{ parameters.suite_name_suffix }}"
    platform: "$(Agent.MachineName)"
  condition: succeededOrFailed()