parameters:
  depends_on: ""
  condition: ""

jobs:
  - job: ${{ parameters.job_name }}
    displayName: ${{ parameters.display_name }}
    dependsOn: ${{ parameters.depends_on }}
    condition: ${{ parameters.condition }}
    pool:
      name: ado-virtual-ccf-sub
      demands:
        - WorkFolder -equals /mnt/storage
    timeoutInMinutes: 120
    variables:
      runOn: ${{ parameters.run_on }}
      sshKey: ${{ parameters.ssh_key }}
      Codeql.SkipTaskAutoInjection: true
      skipComponentGovernanceDetection: true

    steps:
      - template: install_ssh_key.yml
        parameters:
          ssh_key: $(sshKey)

      - script: |
          set -ex
          set -o pipefail
          mapfile -t IP_ADDR_LIST <<< $(echo "$(runOn)" | awk '{print $2}')
          ssh agent@${IP_ADDR_LIST[0]} -o "StrictHostKeyChecking=no" -o ConnectTimeout=100 '
          echo ENV
          env
          echo ACI_ENV
          cat /aci_env
          '
        name: print_env
        displayName: "Print Environment Variables"

      - script: |
          set -ex
          set -o pipefail
          mapfile -t IP_ADDR_LIST <<< $(echo "$(runOn)" | awk '{print $2}')
          ssh agent@${IP_ADDR_LIST[0]} -o "StrictHostKeyChecking=no" -o ConnectTimeout=100 '
          cd /CCF/build
          npm config set cache /ccfci/workspace_$(Build.BuildNumber)/.npm
          WORKSPACE=/ccfci/workspace_$(Build.BuildNumber) ELECTION_TIMEOUT_MS=10000 ./tests.sh -VV -T Test -LE "benchmark|perf|tlstest|vegeta|suite" -E "lts_compatibility"
          # Remove irrelevant and bulky data from workspace before uploading
          find /ccfci/workspace_$(Build.BuildNumber) -type f -name cchost -delete
          find /ccfci/workspace_$(Build.BuildNumber) -type f -name '*.so' -delete
          '
        name: run_ctest
        displayName: "Run CTest"

      - script: |
          set -ex
          set -o pipefail
          mapfile -t IP_ADDR_LIST <<< $(echo "$(runOn)" | awk '{print $2}')
          ssh agent@${IP_ADDR_LIST[0]} -o "StrictHostKeyChecking=no" -o ConnectTimeout=100 '
          dmesg
          '
        name: run_dmesg
        displayName: "Run DMesg"
        condition: always()

      - script: |
          set -ex
          set -o pipefail
          mapfile -t IP_ADDR_LIST <<< $(echo "$(runOn)" | awk '{print $2}')
          scp -r agent@${IP_ADDR_LIST[0]}:/ccfci/workspace_$(Build.BuildNumber) .
          rm -rf workspace_$(Build.BuildNumber)/.npm
        name: fetch_workspace
        displayName: "Fetch Workspace"
        condition: always()

      - task: PublishPipelineArtifact@1
        inputs:
          artifactName: "ACI Workspace"
          targetPath: workspace_$(Build.BuildNumber)
        condition: always()

      - script: rm -rf workspace_$(Build.BuildNumber)
        name: cleanup_workspace
        displayName: "Clean up Workspace"
        condition: always()
