steps:
  - script: |
      set -ex
      sudo apt update
      sudo apt install -y default-jre parallel
      python3 ./tla/install_deps.py
    displayName: "Install TLA dependencies"

  - script: |
      set -ex
      set -o pipefail
      cd tla/
      mkdir -p traces/consensus
      cp ../build/consensus/*.ndjson traces/
      parallel 'JVM_OPTIONS=-Dtlc2.tool.queue.IStateQueue=StateDeque JSON={} ./tlc.sh -dump dot,constrained,colorize,actionlabels {}.dot -dumpTrace tla {}.trace.tla -dumpTrace json {}.trace.json consensus/Traceccfraft.tla' ::: $(ls traces/consensus/*.ndjson)
    displayName: "Run trace validation"

  - task: PublishPipelineArtifact@1
    inputs:
      artifactName: "Trace Validation Output"
      targetPath: tla/traces
    condition: or(failed(), canceled())
