- name: Include vars
  include_vars: common.yml

- name: Get package url
  shell:
    cmd: |
      if [ "{{ ccf_ver }}" = "latest" ]; then
        curl -s https://api.github.com/repos/microsoft/ccf/releases/latest | egrep 'https://.*\.deb' | egrep {{ platform }} | egrep -v unsafe | cut -d\" -f4
      else
        echo "https://github.com/microsoft/CCF/releases/download/ccf-{{ ccf_ver }}/ccf_{{ platform }}_{{ ccf_ver | replace('-', '_') }}_amd64.deb"
      fi
  register: ccf_deb_url

- name: Install CCF
  apt:
    deb: "{{ ccf_deb_url.stdout }}"
  become: true

- name: Copy cchost
  copy:
    src: "/opt/ccf_{{ platform }}/bin/cchost"
    dest: "/usr/bin/cchost"
    remote_src: true
    mode: a=rx
  become: true
  when: run_only|bool

- name: Create ccf folder in /usr/lib
  file:
    path: "/usr/lib/ccf"
    state: directory
    recurse: yes
  become: true
  when: run_js|bool

- name: Copy JS generic (SGX)
  copy:
    src: "/opt/ccf_{{ platform }}/lib/{{ ccf_js_app_name }}.enclave.so.signed"
    dest: "/usr/lib/ccf/{{ ccf_js_app_name }}.enclave.so.signed"
    remote_src: true
  become: true
  when: (run_js|bool) and (platform == "sgx")

- name: Copy JS generic (Virtual)
  copy:
    src: "/opt/ccf_{{ platform }}/lib/{{ ccf_js_app_name }}.virtual.so"
    dest: "/usr/lib/ccf/{{ ccf_js_app_name }}.virtual.so"
    remote_src: true
  become: true
  when: (run_js|bool) and (platform == "virtual")

- name: Copy JS generic (SNP)
  copy:
    src: "/opt/ccf_{{ platform }}/lib/{{ ccf_js_app_name }}.virtual.so"
    dest: "/usr/lib/ccf/{{ ccf_js_app_name }}.virtual.so"
    remote_src: true
  become: true
  when: (run_js|bool) and (platform == "snp")

- name: Remove release
  apt:
    name: ccf
    state: absent
  become: true
  when: run_only|bool
