name: "Build CI Testing CCF Container"

on:
  pull_request:
  workflow_dispatch:

env:
  ACR_REGISTRY: ccfmsrc.azurecr.io
  ACR_TOKEN_NAME: ci-push-token

jobs:
  build:
    name: "Build and Publish CI Containers"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in
        run: docker login -u $ACR_TOKEN_NAME -p ${{ secrets.ACR_CI_PUSH_TOKEN_PASSWORD }} $ACR_REGISTRY

      - name: Build CCF CI SNP container
        run: docker build -f docker/ccf_ci . --build-arg="platform=snp" -t $ACR_REGISTRY/ccf/ci:test-${{github.run_number}}-snp

      - name: Push CI container
        run: docker push $ACR_REGISTRY/ccf/ci $ACR_REGISTRY/ccf/ci:test-${{github.run_number}}-snp
