name: "Format and License Checks"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest
    container: ccfmsrc.azurecr.io/ccf/ci:14-02-2023-virtual

    steps:
      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Checkout repository
        uses: actions/checkout@v3

      - run: ./scripts/ci-checks.sh
