name: "Format and License Checks"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-20.04
    container: ccfciteam/ccf-ci:oe0.17.2-psw-2.15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - run: ./scripts/ci-checks.sh
