name: Continuous Integration

on:
  schedule:
    - cron: "0 0 * * 0"
  pull_request:
  workflow_dispatch:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

permissions: read-all

jobs:
  vmss-virtual-a:
    name: "VMSS Virtual A" # CI Checks, Clang Tidy, Python package tests, Doc build, Unit tests, Partitions tests
    runs-on:
      [
        self-hosted,
        1ES.Pool=gha-vmss-d16av5-ci,
        "JobId=ci_build_tidy-${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}",
      ]
    container:
      image: mcr.microsoft.com/azurelinux/base/core:3.0
      options: --user root --publish-all --cap-add NET_ADMIN --cap-add NET_RAW --cap-add SYS_PTRACE

    steps:
      - name: "Checkout dependencies"
        shell: bash
        run: |
          set -ex
          gpg --import /etc/pki/rpm-gpg/MICROSOFT-RPM-GPG-KEY
          tdnf -y update
          tdnf -y install ca-certificates git

      - name: "Capture SOURCE_DATE_EPOCH"
        run: |
          set -ex
          epoch=$(date +%s)
          echo "SOURCE_DATE_EPOCH=$epoch" >> $GITHUB_ENV
          echo "SOURCE_DATE_EPOCH: $epoch"
        shell: bash

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Check files mtime"
        run: |
          set -ex
          git config --global --add safe.directory /__w/CCF/CCF
          export OLDEST_GIT_FILE=$(git ls-files -z | xargs -0 stat -c "%Y" | sort -u | head -1)
          echo "Oldest git-tracked file time: ${OLDEST_GIT_FILE}"
          # Even the oldest git-tracked file should not be newer than SOURCE_DATE_EPOCH
          if [ "${OLDEST_GIT_FILE}" -lt "${SOURCE_DATE_EPOCH}" ];
          then
            echo "Error: git-tracked files are older than SOURCE_DATE_EPOCH=${SOURCE_DATE_EPOCH}"
            exit 1
          fi
        shell: bash
