name: "Build and Publish Release Containers to ACR"

on:
  push
  # release:
  #   types: [published]

env:
  ACR_REGISTRY: ccfmsrc.azurecr.io
  ACR_TOKEN_NAME: app-push-token

jobs:
  build:
    name: "Build Containers"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Truncate ref
        run: echo "##[set-output name=tag;]${GITHUB_REF#refs/tags/ccf-}"
        id: tref

      - name: Build App Dev container
        run: docker build -f docker/app_dev . --build-arg="extra_vars=--extra-vars ccf_ver=2.0.0-rc8" -t $ACR_REGISTRY/ccf-sgx-app-dev:2.0.0-rc8 -t $ACR_REGISTRY/ccf-sgx-app-dev:latest

      - name: Build App Run container
        run: docker build -f docker/app_run . --build-arg="extra_vars=--extra-vars ccf_ver=2.0.0-rc8" -t $ACR_REGISTRY/ccf-sgx-app-run:2.0.0-rc8 -t $ACR_REGISTRY/ccf-sgx-app-run:latest

      - name: Log in
        run: docker login -u $ACR_TOKEN_NAME -p ${{ secrets.ACR_APP_PUSH_TOKEN_PASSWORD }} $ACR_REGISTRY

      - name: Push App Dev container
        run: docker push $ACR_REGISTRY/ccf-sgx-app-dev:2.0.0-rc8

      - name: Push App Run container
        run: docker push $ACR_REGISTRY/ccf-sgx-app-run:2.0.0-rc8

      - name: Push App Dev latest container
        run: docker push $ACR_REGISTRY/ccf-sgx-app-dev:latest

      - name: Push App Run latest container
        run: docker push $ACR_REGISTRY/ccf-sgx-app-run:latest
