name: "Build and Publish NPM package"

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  build_and_publish:
    name: "Publish ccf-app package to NPM"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Get release number from git tag (release) or latest (branch)
        run: |
          echo "version=${GITHUB_REF#refs/tags/ccf-}" >> $GITHUB_OUTPUT
        id: tref

      - name: Fetch NPM Package from release
        run: |
          cd js/ccf-app
          wget https://github.com/microsoft/CCF/releases/download/ccf-${{steps.tref.outputs.version}}/microsoft-ccf-app-${{steps.tref.outputs.version}}.tgz

      - name: Publish NPM Package to https://www.npmjs.com/package/@microsoft/ccf-app
        run: |
          set -ex
          cd js/ccf-app
          echo "registry=https://registry.npmjs.org/" > .npmrc
          NPM_CONFIG_PROVENANCE=false npm publish microsoft-ccf-app*.tgz --access public
