name: "Build and Publish NPM package"

on:
  push:
    branches:
      - "manual_3.0.0_rc1_script_pkgs_release"

jobs:
  build_and_publish:
    name: "Build and publish containers for all platforms"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get release number from git tag (release) or latest (branch)
        run: |
          echo "version=3.0.0-rc1" >> $GITHUB_OUTPUT
        id: tref

      - name: Fetch NPM Package from release
        run: |
          cd js/ccf-app
          wget https://github.com/microsoft/CCF/releases/download/ccf-${{steps.tref.outputs.version}}/microsoft-ccf-app-${{steps.tref.outputs.version}}.tgz

      - name: Publish NPM Package to https://www.npmjs.com/package/@microsoft/ccf-app
        run: |
          set -ex
          cd js/ccf-app
          echo "//registry.npmjs.org/:_authToken=\${{ secrets.NPM_TOKEN }}" > .npmrc
          npm publish microsoft-ccf-app*.tgz --access public
