name: "TLA+ Spec Verification"

on:
  push:
    paths:
      - "tla/**"
  pull_request:
    paths:
      - "tla/**"
  workflow_dispatch:

jobs:
  model-checking-consensus:
    name: Model Checking - Consensus
    runs-on: [self-hosted, 1ES.Pool=gha-virtual-ccf-sub]
    container:
      image: ccfmsrc.azurecr.io/ccf/ci:05-09-2023-virtual-clang15

    steps:
      - uses: actions/checkout@v3
      - run: |
          sudo apt update
          sudo apt install -y default-jre
          python3 ./tla/install_deps.py

      - name: MCccfraft.cfg
        run: |
          cd tla/
          ./tlc.sh -workers auto MCccfraft.tla -dumpTrace tla MCccfraft.trace.tla -dumpTrace json MCccfraft.json

      - name: MCccfraftWithReconfig.cfg
        run: |
          cd tla/
          ./tlc.sh -workers auto -config MCccfraftWithReconfig.cfg MCccfraft.tla -dumpTrace tla MCccfraftWithReconfig.trace.tla -dumpTrace json MCccfraftWithReconfig.json

      - name: Upload traces in TLA and JSON format
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: tlc
          path: |
            tla/*.trace.tla
            tla/*.json

  simulation-consensus:
    name: Simulation - Consensus
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: python3 ./tla/install_deps.py

      - name: SIMccfraft.tla
        run: |
          cd tla/
          ./tlc.sh -workers auto -simulate -depth 500 SIMccfraft.tla -dumpTrace tla SIMccfraft.trace.tla -dumpTrace json SIMccfraft.json

      - name: Upload traces in TLA and JSON format
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: tlc
          path: |
            tla/*.trace.tla
            tla/*.json

  model-checking-consistency:
    name: Model Checking - Consistency
    runs-on: [self-hosted, 1ES.Pool=gha-virtual-ccf-sub]
    container:
      image: ccfmsrc.azurecr.io/ccf/ci:05-09-2023-virtual-clang15

    steps:
      - uses: actions/checkout@v3
      - run: |
          sudo apt update
          sudo apt install -y default-jre
          python3 ./tla/install_deps.py

      - name: consistency/MCSingleNode.cfg
        run: |
          cd tla/
          ./tlc.sh -workers auto -config consistency/MCSingleNode.cfg consistency/MCSingleNode.tla -dumpTrace json MCSingleNode.json

      - name: consistency/MCSingleNodeReads.cfg
        run: |
          cd tla/
          ./tlc.sh -workers auto -config consistency/MCSingleNodeReads.cfg consistency/MCSingleNodeReads.tla -dumpTrace json MCSingleNodeReads.json

      - name: consistency/MCMultiNode.cfg
        run: |
          cd tla/
          ./tlc.sh -workers auto -config consistency/MCMultiNode.cfg consistency/MCMultiNode.tla -dumpTrace json MCMultiNode.json

      - name: consistency/MCMultiNodeReads.cfg
        run: |
          cd tla/
          ./tlc.sh -workers auto -config consistency/MCMultiNodeReads.cfg consistency/MCMultiNodeReads.tla -dumpTrace json MCMultiNodeReads.json

      - name: consistency/MCMultiNodeReadsAlt.cfg
        run: |
          cd tla/
          ./tlc.sh -workers auto -config consistency/MCMultiNodeReadsAlt.cfg consistency/MCMultiNodeReadsAlt.tla -dumpTrace json MCMultiNodeReadsAlt.json

      - name: Upload TLC's out file as an artifact. Can be imported into the TLA+ Toolbox.
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: tlc
          path: |
            tla/consistency/*_TTrace_*.tla
            tla/*.json

  model-checking-counterexamples-consistency:
    name: Model Checking (Counterexamples) - Consistency
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: python3 ./tla/install_deps.py

      - name: consistency/MCSingleNodeCommitReachability.cfg
        run: |
          cd tla/
          ./tlc_debug.sh -workers auto -config consistency/MCSingleNodeCommitReachability.cfg consistency/MCSingleNodeReads.tla

      - name: consistency/MCMultiNodeCommitReachability.cfg
        run: |
          cd tla/
          ./tlc_debug.sh -workers auto -config consistency/MCMultiNodeCommitReachability.cfg consistency/MCMultiNodeReads.tla

      - name: consistency/MCMultiNodeInvalidReachability.cfg
        run: |
          cd tla/
          ./tlc_debug.sh -workers auto -config consistency/MCMultiNodeInvalidReachability.cfg consistency/MCMultiNodeReads.tla

      - name: consistency/MCMultiNodeReadsNotLinearizable.cfg
        run: |
          cd tla/
          ./tlc_debug.sh -workers auto -config consistency/MCMultiNodeReadsNotLinearizable.cfg consistency/MCMultiNodeReads.tla
