name: "TLA+ Spec Verification"

on:
  push:
    paths:
      - "tla/**"
  pull_request:
    paths:
      - "tla/**"
  workflow_dispatch:

jobs:
  model-checking:
    name: Model Checking
    runs-on: [self-hosted, 1ES.Pool=gha-virtual-ccf-sub]
    container:
      image: ccfmsrc.azurecr.io/ccf/ci:05-09-2023-virtual-clang15

    steps:
      - uses: actions/checkout@v3
      - run: python3 ./tla/install_deps.py

      - name: MCccfraft.cfg
        run: |
          set -exo pipefail
          cd tla/
          ./tlc.sh -workers auto MCccfraft.tla 2>&1 | tee MCccfraft.out

      - name: MCccfraftWithReconfig.cfg
        run: |
          set -exo pipefail
          cd tla/
          ./tlc.sh -workers auto -config MCccfraftWithReconfig.cfg MCccfraft.tla 2>&1 | tee MCccfraftWithReconfig.out

      - name: Upload TLC's out file as an artifact. Can be imported into the TLA+ Toolbox.
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: tlc
          path: tla/*.out

  simulation:
    name: Simulation
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: python ./tla/install_deps.py

      - name: SIMccfraft.tla
        run: |
          set -exo pipefail
          cd tla/
          ./tlc.sh -workers auto -simulate -depth 500 SIMccfraft.tla 2>&1 | tee SIMccfraft.out

      - name: Upload TLC's out file as an artifact. Can be imported into the TLA+ Toolbox.
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: tlc
          path: tla/*.out
