name: "TLA+ Spec Verification"

on:
  push:
    paths:
      - "tla/**"
  pull_request:
    paths:
      - "tla/**"
  workflow_dispatch:

jobs:
  model-checking:
    name: Model Checking
    runs-on: [self-hosted, 1ES.Pool=gha-virtual-ccf-sub]
    container:
      image: ccfmsrc.azurecr.io/ccf/ci:05-09-2023-virtual-clang15

    steps:
      - uses: actions/checkout@v3
      - run: |
          sudo apt update
          sudo apt install -y default-jre
          python3 ./tla/install_deps.py

      - name: MCccfraft.cfg
        run: |
          cd tla/
          ./tlc.sh -workers auto MCccfraft.tla -dumpTrace tla MCccfraft.trace -dumpTrace json MCccfraft.json

      - name: MCccfraftWithReconfig.cfg
        run: |
          cd tla/
          ./tlc.sh -workers auto -config MCccfraftWithReconfig.cfg MCccfraft.tla -dumpTrace tla MCccfraftWithReconfig.trace -dumpTrace json MCccfraftWithReconfig.json

      - name: Upload traces in TLA and JSON format
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: tlc
          path: |
            tla/*.trace
            tla/*.json

  simulation:
    name: Simulation
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: python3 ./tla/install_deps.py

      - name: SIMccfraft.tla
        run: |
          cd tla/
          ./tlc.sh -workers auto -simulate -depth 500 SIMccfraft.tla -dumpTrace tla SIMccfraft.trace -dumpTrace json SIMccfraft.json

      - name: Upload traces in TLA and JSON format
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: tlc
          path: |
            tla/*.trace
            tla/*.json
